<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/venke/IdeaProjects/Apr28_RestAssured_EventHub">
        <classes>
            <class name="org.eventHub.com.TestRunner.TestRunner"/>
        </classes>
    </test>
</suite>